@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*Upper part with the nav menu and the title*/
header{
  background-color: black;
  padding-bottom: 1em;
  text-align: center;
}
.title{ /*Title (my name)*/
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  z-index: 1;
}
.title a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
.title span{  /*Decoratio of the 96 number in my name*/
  color: red;
}
.title::before{ /*Red decoration under the first three letters of my name*/
  content: ' ';
  border-radius: 1em;
  position: absolute;
  width: 2.3em;
  background: red;
  height: 0.3em;
  bottom: 30%;
  z-index: -1;
  margin-left: 0em;
}
header .btn-group{
  /*Centrar este elemento a la izquierda*/
}

/*General settings of the web.*/
body{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: opx;
}
section{
  margin: 1em, 1em;
}
.main-container{  /*Main container of the text and the picture*/
  background: black url(/Pictures/light_background1.png);
  text-align: center;
  margin: 1em, 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.container-text{
  padding-top: 2em;
  padding-bottom: 1em;
}
.container-text h2{
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 1em;
}

/*Flottating button*/
.fab {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rebeccapurple;
  opacity: 0.6;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 1rem;
  color: white;
  text-align: center;
  line-height: 2rem;
  scroll-behavior: smooth;

  position: fixed;
  right: 0.8em;
  bottom: 80rem;

  /*  Intento de hacer desaparecer el botón*/
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;  
}
.fab.active
{
  /*  Intento de hacer desaparecer el botón*/
  bottom: 8rem;
  visibility: visible;
  opacity: 1;  
}
.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
  background-color: red;

  /*  Intento de hacer desaparecer el botón*/
  
  
}
/*Footer*/
.footer{
  background-color: black;
  padding: 1em;
}
.footer ul
{
  display: flex;
  padding: 1em;
}
.footer li
{
  margin-left: 1em;
  margin-right: 2em;
}

@media (min-width: 700px)
{
  .main-container
  {
    text-align: justify;
    margin-bottom: 0em;
  }
}
@media (min-width: 980px)
{
  .main-container
  {
    text-align: left;
    margin-left: 0em;
    padding-right: 1em;
    padding-left: 2em;
    padding-top: 2em;
    display: flex
  }
  .container-text
  {
    align-self: center;
  }
  .container-text p
  {
    font-size: 1.3em;
  }
  .container-text h2
  {
    font-size: 1.6em;
  }
  .figure
  {
    padding-right: 1em;
    padding-left: 2em;
    padding-top: 4em;
    align-self: center;
  }

}
