body { background-color: #404040; }
h1, h2, h3, h4, h4, h5, h6, p 
{ 
  color: white; 
}
a:link, a:visited { color: lightsalmon; }
.parrafo
{
  background-color: black;
  margin: 10px;
  padding: 5px;
  width: 50%;
  margin-left: 0%;
}
.centered
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}